div.viewer {
    position:fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;

    .overlay {
        margin: 2em;
    }

    .overlay > * {
        position: absolute;
        cursor: crosshair;
    }

    svg {
        text {
            fill: white;
        }
        g.lines {
            stroke: green;
            stroke-width: 3px;
            stroke-dasharray: 8 2;
    
        }
    
        g.lineText text {
            fill: green;
            text-anchor: middle;
        }
    
        g.drag {
            stroke: lightgreen;
            stroke-width: 3px;
            stroke-dasharray: 8 2;
        }
    
        g.dragText text {
            fill: lightgreen;
            text-anchor: middle;
        }
    }
}