.dropzone {
    display: flex;
    flex-direction: column;
    background-color: rgba(200, 200, 255, 0.5);

    border: 3px darkblue dashed;
    align-items: center;
    justify-content: center;

    height: 40vh;
}

.horizontal {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-items: center;
    align-items: center;
}